<% if flash[:notice] %>
  <p class = "flash"><%= flash[:notice] %></p>
<% end %>

<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>

<p><%= link_to "edit", "/books/#{@book.id}/edit" %></p>
<p><a href="/books">back</a></p>